spring:
  application:
    name: '@project.artifactId@'
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: '${DB_USER:sa}'
    password: '${DB_PASS:123456}'
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

application:
  info:
    name: '@project.name@'
    version: '@project.version@'
    description: '@project.description@'
  api:
    path: '/api/v1/employees'
  errors:
    EMPLOYEE_SAVE_FAILED:
      description: 'Error al guardar al empleado.'
    EMPLOYEE_NOT_FOUND:
      description: 'Empleado no encontrado.'
    EMPLOYEE_UPDATE_FAILED:
      description: 'Error al actualizar al empleado.'

management:
  endpoints:
    web:
      base-path: ${application.api.path}/actuator
      exposure:
        include: health,info
  info:
    env:
      enabled: true

info:
  app:
    name: '${spring.application.name}'
    description: '${application.info.description}'
    version: '${application.info.version}'

springdoc:
  api-docs:
    path: '${application.api.path}/openapi'

  swagger-ui:
    path: '${application.api.path}/swagger-ui.html'

server:
  error:
    include-message: always
  port: 8081

logging:
  level:
    'pe.com.relari': TRACE